<div>
  <h2>Profilimi Güncelle</h2>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="name">Ad</label>
    <input id="name" formControlName="name" type="text">

    <label for="email">E-posta</label>
    <input id="email" formControlName="email" type="email">

    <label for="phoneNumber">Telefon Numarası</label>
    <input id="phoneNumber" formControlName="phoneNumber" type="text">

    <button type="submit" [disabled]="profileForm.invalid">Güncelle</button>
  </form>
</div>
