<div>
  <h1>Hastane Randevu Sistemi</h1>
  <nav>
    <ul>
      <li><a routerLink="/login">Giriş Yap</a></li>
      <li><a routerLink="/register">Kayıt Ol</a></li>
      <li><a routerLink="/admin/users">Kullanıcı Yönetimi</a></li>
      <li><a routerLink="/appointments/list">Randevu Listesi</a></li>
      <li><a routerLink="/doctor/schedule">Doktor Takvimi</a></li>
      <li><a routerLink="/notifications">Bildirim Gönder</a></li>
      <li><a routerLink="/reports">Raporlar</a></li>
      <li><a routerLink="/past-appointments">Geçmiş Randevular</a></li>
      <li><a routerLink="/help-faq">Yardım ve SSS</a></li>
      <li><a routerLink="/feedback">Geri Bildirim</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
